<!-- <button (click)="increment()"> increment </button>
<p>{{(count$|async)}}</p>
<button (click)="decrement()">decremnet</button> -->
<div class="top">
  <h1 style="color:#ffff;">Calculator</h1>
</div>
<div class="bottom">
  <div id="calculator">
    <div class="display">
      <input class="placehold" type="ip" [placeholder]="currentNumber$|async" >
    </div>
    <div class="keyboard">

      <div id="colum1">
        <button type="button1" (click)="enterOperator('C')" style="background-color: rgb(234, 61, 61);">C</button>
        <button type="button1" (click)="enterOperator('DEL')" style="background-color: rgb(29, 29, 29); color: #fff;">DEL</button>
      </div>


      <div id="colum2">
        <div id="row21">
          <button type="button" (click)="enterNumber('1')" >1</button>
          <button type="button" (click)="enterNumber('2')">2</button>
          <button type="button" (click)="enterNumber('3')">3</button>
        </div>
        <div id="row22">
          <button type="button" (click)="enterNumber('4')">4</button>
          <button type="button" (click)="enterNumber('5')">5</button>
          <button type="button" (click)="enterNumber('6')">6</button>
        </div>
        <div id="row23">
          <button type="button" (click)="enterNumber('7')">7</button>
          <button type="button" (click)="enterNumber('8')">8</button>
          <button type="button" (click)="enterNumber('9')">9</button>
        </div>
        <div id="row24">
          <button type="button"  style="width: 100px;" (click)="enterNumber('0')">0</button>
          <button type="button" (click)="enterNumber(',')">,</button>
        </div>
      </div>
      <div id="colum3">
        <div id="row31">
          <button type="button2" (click)="enterOperator('+')">+</button>
          <button type="button2" (click)="enterOperator('-')">-</button>
        </div>
        <div id="row32">
          <button type="button2" (click)="enterOperator('*')">*</button>
          <button type="button2" (click)="enterOperator('/')">/</button>
        </div>
        <div id="row33">
          <button type="button2" (click)="enterOperator('%')">%</button>
          <button type="button2" (click)="enterOperator('=')">=</button>
        </div>
      </div>
    </div>



</div>
